
#cat-panel {
  display: grid;
  grid-template-columns: 15% 15%;
  grid-template-rows: 30px;
  grid-gap: 5px;
}

#cat-select {
  grid-row: span 2;
}

/* #cat-input {
  grid-row-start: 1;
  grid-column-start: 2;
} */

div.form-actions {
  grid-row-start: 2;
  grid-column-start: 2;
}

.btn {
  width: 100px;
}

h2.procat-header {
    font-weight: 700;
    font-size: 1.4em;
}
